@import '../styles/root/colors';
@import '../styles/root/responsivity';
@import '../styles/root/spatial';
@import '../styles/root/typography';

:host {
  @include g-font(subheading);
  $hsize: $increment-size * .75;
  $pdsize: $g-default-spacing;

  background-color: light(.16);
  border-radius: 3px;
  display: flex;
  height: $hsize;
  max-width: $increment-size * 12;
  position: relative;
  transition: background-color .2s ease;

  button,
  input {
    color: map-get($g-text--light, primary);
  }

  button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    height: $hsize;
    width: $hsize;

    &:last-of-type {
      bottom: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  input {
    background: transparent;
    border: 0;
    flex-grow: 1;
    height: 100%;
    outline: 0;
    padding: $pdsize $hsize $pdsize $pdsize;

    &::-webkit-input-placeholder {
      color: map-get($g-text--light, secondary);

      @include g-for-size(phone-only) {
        font-size: map-get($g-typography--size, caption);
      }
    }
  }
}

:host(.editing) {
  background-color: light(1);

  button,
  input {
    color: map-get($g-text--dark, primary);
  }

  input {
    &::-webkit-input-placeholder {
      color: map-get($g-text--dark, secondary);
    }
  }
}
