<div class="container">
    <router-outlet></router-outlet>
</div>
<app-footer>   
    <div>
        <h2>Social</h2>
        <ul>
            <li *ngFor="let item of socialItems">
                <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
        </ul>
    </div>
    <div>
        <h2>Pages</h2>
        <ul>
            <li *ngFor="let item of pageItems">
                <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
        </ul>
    </div>    
</app-footer>
